.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.topSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.resultSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.expenseBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5px 10px;
  width: 125px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.expenseBox span {
  font-family: bold;
  color: green;
}
.btn {
  outline: none;
  padding: 5px 10px;
  background-color: #ede9fe;
  color: #6d28d9;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.primary {
  color: #fff;
  background-color: #6d28d9;
  border: none;
  padding: 8px 10px;
}
.cancel {
  background-color: #fff;
  color: #dc2626;
  border: 1px solid #dc2626;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  margin-bottom: 30px;
}
input {
  border: 1px solid #ccc;
  padding: 10px 12px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input[type="radio"] {
  margin-left: 10px;
}
.radioBOx {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.radioBOx label {
  margin-left: 3px;
  font-size: 12px;
}
.transaction {
  background-color: #f4f4f5;
  padding: 10px;
  margin-top: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  border-right: 4px solid green;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input .search {
  display: block;
  width: 100%;
  margin-top: 20px 0;
  padding: 10px 12px;
  border: 1px solid #ccc;
  background-color: #efefef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
